[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[{*.mt,*.nb,*.mb,*.wlt,*.m,*.wl}]
indent_style=space
indent_size=2

[{*.sc,*.scala}]
indent_style=space
indent_size=2

[{*.kts,*.kt}]
indent_style=space
indent_size=2

