graph {
    fill-color: grey;
}
node {
    size: 30px, 45px;
    shape: circle;
    fill-color: white;
    fill-mode:gradient-horizontal;
    stroke-mode: plain;
    stroke-color: white;
    text-style:italic;
    text-alignment:above;
}
edge {
    shape: line;
    fill-mode: dyn-plain;
    fill-color: #222, #555, green, yellow;
    arrow-size: 5px, 2px;
}
node:clicked {
    fill-color: red;
}